@CHARSET "ISO-8859-1";

html, body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #000;
}

#prode, #resultados, #datos, #estadisticas {
	float: left;
	padding-right: 10px;
}

#botones {
	clear: both;	
}

#bvolver {
	display: none;
}


table {
	border-spacing: 1px;
	border-width: 1px;
	background-color: #000053;	
}

table thead, th {
    background-color: #191963;
    color: #fff;
    font-weight: bold;
}

table tbody {
    background-color: #fff;
}

th, td {
	padding: 5px;
	height: 20px;
}

tr.correcto {
    background-color: #33CC33;
}

tr.incorrecto {
    background-color: #FF1919;
}

input[type=button] {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    border: 1px solid #000;
    padding: 5px;
    clear: both;
}

.al {
	text-align: left;
}

.ar {
	text-align: right;
}

.ac {
	text-align: center;
}