@CHARSET "ISO-8859-1";

html, body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: white;
}
input, select, button  {
	
    color: black;
}

button {
	width:100%; 
 	background-color:#800000;
 	color:white;
 	border:none;"
}




table {
    background-color: #37454d;
	border-spacing: 1px;
	border-width: 1px;
}

th, td {
	padding: 5px;
}
